body{
  background-color: #C2C2C2;
  color: #292929;
}

#wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title{
  margin-top: 50px;

  font-size: 50px;
  font-weight: bolder;
}

.group-box{
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 97.222222vw;
  /* 지정하고자 하는 가로 px / 레이아웃 px * 100 = vw */
}

/* 초기화 버튼 */
.reset-button{
  position: absolute;
  top: -80px;
  right: 0;

  width: 6.944444vw;
}

/* .control-group{} */

/* .experimental-group{} */

/* 텍스트 위치 바꾸기 버튼 */
.change-button{
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background-image: url(./image/changebutton.png);
  background-size: cover;
  background-position: center;

  transition: all 0.3s;
}

.change-button:hover{
  cursor: pointer;
  background-color: #E6E6E6;
}

/* 비교 버튼 */
.compare-button{
  margin-top: 35px;

  width: 10.416666vw;
}

.compare-result{
  margin-top: 30px;

  height: 25px;

  font-size: 25px;
  font-weight: bolder;
  color: black;
}

/* 공통 */
/* text-area */
.group{  
  width: 45.138888vw;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;

  resize: none;

  font-size: 20px;
  font-weight: bolder; 
}

/* button */
.button{
  height: 50px;

  background-color: #949494;
  border-radius: 0.694444vw;

  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bolder;
  color: black;

  transition: all 0.3s;
}

.button:hover{
  cursor: pointer;
  background-color: #E6E6E6;
}
